html {
	font-family: Arial, sans-serif, Tahoma;
}

body {
	width: 100%;

	// UNCOMMENT IF USING SASS-CORE FRAMEWORK AND PX FONT UNITS
	//@include font-px(md);
}

*, *:before, *:after {
	box-sizing: border-box;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

input, textarea {
	&:focus, &:active {
		border: none;
		outline: none;
	}
}

button {
	
	&:focus {
		outline: none;
	}
	
	&::-moz-focus-inner {
	    padding: 0;
	    border: 0
	}
}


.clear {
	*zoom: 1;
	&:before, &:after {
	    content: " ";
	    display: table;
	}
	
	&:after {
	    clear: both;
	}
	
}



//layout

#layout-main-wrap {
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
