footer.layout {
  position: relative;
  padding-top: 16px;
  padding-bottom: 10px;

  @include respond-to(desktop) {
    padding-top: 30px;
  }

  &:before, &:after {
    position: absolute;
    content: "";
    left: 30px;
    right: 30px;
    height: 1px;

    @include respond-to(tablet) {
      left: 80px;
      right: 80px;
    }

    @include respond-to(desktop) {
      left: 0;
      right: 0;
    }
  }

  &:before {
    top: 0;
    background: #dfe2ea;
  }

  &:after {
    display: none;
    top: 1px;
    background: #eeeff4;

    @include respond-to(desktop) {
      display: block;
    }
  }

  .row {
    @include respond-to(desktop) {
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    .col {
      display: none;

      @include respond-to(desktop) {
        display: table-cell;
        float: none;
      }

      &:last-child {
        display: table-cell;

        @include respond-to(desktop) {
          position: relative;
          padding-bottom: 20px;
        }

        .copy {
          text-align: center;
          color: #666666;
          font-size: 13px;

          @include respond-to(desktop) {
            position: absolute;
            bottom: 0;
            left: 15px;
            right: 0;
            text-align: left;
          }
        }
      }

      ul {
        display: none;

        @include respond-to(desktop) {
          display: block;
        }

        li {
          margin-bottom: 0px;
          line-height: 1.3;

          a {
            vertical-align: middle;
            color: #6f6f6f;
            font-size: 13px;

            &:hover {
              color: #000;
            }
          }

          img {
            //temp
            display: none;
          }
        }
      }
    }
  }
}