<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <meta charset="utf-8" />
    <title>Weekly Webdev Chanllange No 1</title>
    <link rel="shortcut icon" href="img/favicon.ico" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="user-scalable=0,width=device-width,initial-scale=1,maximum-scale=1" />
    
    <meta property=og:url content="">
    <meta property=og:title content="">
    <meta property=og:description content="">
    <meta property=og:image content="">
    
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600&amp;subset=latin-ext" rel="stylesheet">
  </head>
    
  <body>

    <div class="page_wrapper">

      <header class="header">
          <h1 class="header__title"><img src="img/top-logo.png" alt="Masterlab creative logo" class="header__image"></h1>
      </header>

      <main class="main-section">
        <div class="main-section__column">
            <section class="form-section form-section_register">
                <h2 class="form-section__title">Register Form</h2>
                <form action="#" class="form">
                    <div class="form__field">
                        <label for="registerUsername" class="form__label"><span class="label__icon label__icon_user"></span></label>
                        <input id="registerUsername" name="registerUsername" type="text" class="form__input" placeholder="Username">
                    </div>
                    <div class="form__field">
                        <label for="registerPwd" class="form__label"><span class="label__icon label__icon_pwd"></span></label>
                        <input id="registerPwd" name="registerPwd" type="password" class="form__input" placeholder="Password">
                    </div>
                    <div class="form__field">
                        <label for="registerConfirmPwd" class="form__label"><span class="label__icon label__icon_pwd"></span></label>
                        <input id="registerConfirmPwd" name="registerConfirmPwd" type="password" class="form__input" placeholder="Confirm Password">
                    </div>
                    <div class="form__field">
                        <label for="registerEmail" class="form__label"><span class="label__icon label__icon_email"></span></label>
                        <input id="registerEmail" name="registerEmail" type="email" class="form__input" placeholder="Email">
                    </div>
                    <div class="form__field">
                        <select name="registerLocation" id="registerLocation" class="form__select">
                            <option value="hide">Your location</option>
                            <option value="Poland">Poland</option>
                            <option value="Germany">Germany</option>
                            <option value="Russia">Russia</option>
                            <option value="USA">USA</option>
                        </select>
                    </div>
                    <div class="form__field">
                        <input id="registerTerms" name="registerTerms" type="checkbox" class="form__checkbox" placeholder="Confirm Password">
                        <label for="registerTerms" class="form__label form__label_checkbox"><span class="label__text label__text_checkbox">I have read and accept the terms of use.</span></label>
                    </div>                    
                    <div class="form-field form-field_last">
                        <button type="submit" class="form__btn form__btn_submit">Sign up</button>
                        <button type="submit" class="form__btn form__btn_reset">Sign up</button>
                    </div>
                </form>
            </section>   
        </div>
        <div class="main-section__column">column</div>
      </main>

      <footer class="footer">
      </footer>

    </div>

    <!--
        Use when config.js.concatVendorApp is false
        <script src="js/app.vendor.js"></script>
    -->
    <script src="js/app.js"></script>
  </body>
</html>
