$white: #ffffff;
$anti-flash-white: #f3f3f3;
$white-smoke: #f4f4f4;
$ghost-white: #f8f8f8;
$black: #000000;
$lavender-gray: #c6c6c6;
$silver-chailce: #afafaf;
$gainsboro: #dedede;
$zinnwaldite-brown: #2b0100;

//Button submit
$napier-green: #3a9a00;
$june-bud: #addc54;
$limerick: #7ec31f;
$avocado: #51850e;

$red-brown: #a2202a;
$begonia: #f76f7f;
$red-salsa: #f03747;






