//Buttons
$btn-color: $white;
$btn-font-size: 24px;
$btn-border-radius: 4px;
$btn-text-shadow: 0px 1px $avocado;

$btn-submit-border-color: $napier-green;
$btn-submit-border: 1px solid $btn-submit-border-color;
$btn-submit-border-radius: 4px;
$btn-submit-top-color: $june-bud;
$btn-submit-bottom-color: $limerick;
$btn-submit-color: $white;
$btn-submit-font-size: 24px;
$btn-submit-text-shadow: 1px 1px $avocado;

$btn-reset-border-color: $red-brown;
$btn-reset-border: 1px solid $btn-reset-border-color;
$btn-reset-border-radius: 4px;
$btn-reset-top-color: $begonia;
$btn-reset-bottom-color: $red-salsa;
$btn-reset-color: $white;
$btn-reset-font-size: 24px;
$btn-reset-text-shadow: 1px 1px $avocado;

//Checkboxes
$chkbox-border-color: $lavender-gray;
$chkbox-border: 1px solid $chkbox-border-color;
$chkbox-border-radius: 4px;
$chkbox-chked-color: $limerick;
$chkbox-chked-radius: 4px;

//Labels
$label-text-size: 17px;
$label-text-color: $silver-chailce;