//@include sc-font-face(font-name, font-filename, normal);

//$font-name: font-name,Arial,Tahoma,sans-serif;

$font-titillium: 'Titillium Web', Arial, "Helvetica Neue", Helvetica,  sans-serif;
$font-titillium-light: 300;
$font-titillium-regular: 400;
$font-titillium-medium: 600;