//$color-lead: #000;
$transparent: rgba(0,0,0,0);
$white: #ffffff;
$black: #000000;
$raisin-black: #262626;
$portland-orange: #ff6033;
$ghost-white: #f9f8fb;
$spanish-gray: #9d9d9d;
$amazonite: #00adad;
$maya-blue: #70bfff;
$banana-yellow: #ffe92f;
$lavender: #b07cf7;
$rackley: #5585a2;
$yellow-green: #96b92c;
$red: #f72b3b;