//$color-lead: #000;
$transparent: rgba(0,0,0,0);
$white: #ffffff;
$black: #000000;
$raisin-black: #262626;
$portland-orange: #ff6033;
$ghost-white: #f9f8fb;
$spanish-gray: #9d9d9d;
$gray: #b9b9b9;
$amazonite: #00adad;
$maya-blue: #70bfff;
$banana-yellow: #ffe92f;
$lavender: #b07cf7;
$rackley: #5585a2;
$turquoise-serf: #00c4c4;
$bdazzled-blue: #355b82;
$yellow-green: #96b92c;
$red: #f72b3b;
$radical-red: #ff2b58;