//@include sc-font-face(font-name, font-filename, normal);

//$font-name: font-name,Arial,Tahoma,sans-serif;

$font-raleway: 'Raleway', Arial, "Helvetica Neue", Helvetica,  sans-serif;
$font-raleway-light: 300;
$font-raleway-regular: 400;
$font-raleway-bold: 700;
$font-raleway-heavy: 900;