html {
	font-family: Arial, sans-serif, Tahoma;
}

body {
	width: 100%;
    
	// UNCOMMENT IF USING SASS-CORE FRAMEWORK AND PX FONT UNITS
	//@include font-px(md);
    background: $main-bg-img no-repeat top center;
    background-size: 100% 100%;
    font-family: $font-titillium;
}

*, *:before, *:after {
	box-sizing: border-box;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

//input, textarea {
//	&:focus, &:active {
//		border: none;
//		outline: none;
//	}
//}

button {
	&:focus {
		outline: none;
	}
	
	&::-moz-focus-inner {
	    padding: 0;
	    border: 0
	}
}


.clear {
	*zoom: 1;
	&:before, &:after {
	    content: " ";
	    display: table;
	}
	
	&:after {
	    clear: both;
	}
	
}
img{
    max-width: 100%;
}


//layout
.page_wrapper {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.header{
    margin: 55px auto 25px;
    opacity: 0.34;
    text-align: center;
    padding: 0 20px;
}

.main-section{
    width: 100%;
}
.main-section__column-left,
.main-section__column-right{
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
}

.bottom-image-wrapper{
    text-align: center;
    opacity: 0.13;
    margin-bottom: 50px;
    padding: 0 20px;
}

//Media queries
@media screen and (min-width: $desktop) {
    .page_wrapper{
        padding: 0 20px;
    }
    .main-section{
        display: flex;
        justify-content: space-around;
    }
    .main-section__column-left .form-section{
    	margin-bottom: 20px;
    }
    .main-section__column-right .form-section{
    	margin-bottom: 50px;
    }
} 

@media screen and (min-width: 1050px) {
    .page_wrapper {
	    width: 1050px;
    } 
}


