$gallery-section-bg-color: $banana-yellow;

.section--gallery{
    background-color: $gallery-section-bg-color;
}
.section__intro{
    margin-bottom: 45px;
}
.gallery__item{
    margin: 0 auto 30px;
    .img-responsive{
        margin: 0 auto;
        box-shadow: $box-shadow;
    }
}
.gallery__btn{ 
    display: block;
    margin: 0 auto;
}