$color-lead: #333333; //almost black
$color-1: #666666;    //dark grey, for e.g. subtitles
$color-2: #00aef0;    //light blue, login links
$color-header: #00417e; //blue

$color-bg-lead: #00a8e4;  //blue
$color-bg-1: #4dc2ec;
$color-bg-2: #eceef4; //light grey 1
$color-bg-3: #edeef3; //light grey 2

$color-border-1: #fffffd;
$color-border-2: #dadde7; //grey for buttons
